*{
    font-size:12px;
}

body {
    font-family:helvetica,tahoma,verdana,sans-serif;
    padding:0px;
    font-size:13px;
    margin:5px;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
#center_div ul li{
    padding:5px;
    font-size:19px;
    margin-top: 1px;
}
#center_div ul li a{
    color:#000;
    text-decoration:none;
}
.tree-title{
    font-size: 14px;
}

.editableTable{
	border-spacing:0px;
	table-layout:fixed;
	margin:0px;
}
.leftupcorner{
	border:solid #add9c0; 
	border-width:0px 1px 1px 0px; 
	padding-left:0px;
	padding-right:0px;
}
.rightupcorner{
	border:solid #add9c0; 
	border-width:0px 0px 1px 1px; 
	padding-left:0px;
	padding-right:0px;
}
.normalTd{
	border:solid #add9c0; 
	border-width:0px 1px 1px 0px; 
	padding-left:0px;
	padding-right:0px;
}