<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE log4j:configuration SYSTEM  "log4j.dtd">  
    <!-- 
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >  
    
 
    <appender name="LOG.REQUEST" class="org.apache.log4j.DailyRollingFileAppender">  
	 	<param name="File" value="${webName.root}/logs/REQUEST_LOG.log" /> 
	 	<param name="Append" value="true" />
	 	<param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d [%p] %c{1} - %m%n" />  
        </layout>  
        <!--过滤器设置输出的级别 -->  
        <!--
        <filter class="com.ys.util.RequestLogFilter">  
            <param name="levelMin" value="REQUEST" />  
            <param name="levelMax" value="REQUEST" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>  
    </appender>  
    
    <appender name="LOG.OTHER" class="org.apache.log4j.DailyRollingFileAppender">  
        <param name="File" value="${webName.root}/logs/OTHER_LOG.log" />  
        <param name="Append" value="true" />
	 	<param name="Encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d [%p] %c{1} - %m%n" />   
        </layout>  
    </appender>
    
      <!-- 根logger的设置 -->  
      <!--
    <root>  
        <priority value ="REQUEST"/>  
        <appender-ref ref="LOG.REQUEST"/>  
        <appender-ref ref="LOG.OTHER"/> 
    </root> 
</log4j:configuration>  
 -->